{% extends "layout.html" %}
{% block title %}Edit Post{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block content %}

<h1>Edit Post</h1>
<form action="/posts/{{post.id}}/edit" method="post">
    <p><label class="form-label" for="title">Title</label><br>
        <input class="form-control" name="title" value="{{ post.title }}">
    </p>
    <p><label class="form-label" for="content">Post Content</label>
        <input class="form-control" name="content" value="{{ post.content }}">
    </p>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="/users/{{post.user_id}}"><button class="btn btn-outline-info">Cancel</button></a>
        <button class="btn btn-success">Edit</button>
    </div>
</form>

{% endblock %}