{% extends "layout.html" %}
{% block title %}User List{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<h1>Users</h1>
<div class="list-contents">
    <ul class="">
        {% for user in users %}
        <p>
            <li><a href="/users/{{user.id}}" class="text-decoration-none">{{user.first_name}}
                    {{user.last_name}}</a></li>
        </p>
        {% endfor %}
    </ul>

    <a href="/users/new"><button class="btn btn-secondary">Add User</button></a>
</div>
{% endblock %}