{% extends "layout.html" %}
{% block title %}Post Details{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<div class="card w-75 m-auto">
    <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.content}}</p>
        <p class="card-text"><small class="text-muted fst-italic"> By {{post.user.first_name}}
                {{post.user.last_name}}</small></p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/users/{{post.user_id}}"><button type="reset" class="btn btn-info">Cancel</button></a>
            <a href="/posts/{{post.id}}/edit"><button type="submit" class="btn btn-success">Edit</button></a>
            <a href="/posts/{{post.id}}/delete"><button class="btn btn-danger">Delete</button></a>
        </div>
    </div>
</div>
{% endblock %}