
{% extends "layout.html" %}
{% block title %}Edit User{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block content %}
<div class="form-contents">
    <h1>Edit a user</h1>
    <form action="/users/{{user.id}}/edit" method="post">
        <p><label for="first_name">First Name</label><br>
            <input name="first_name" value={{user.first_name}} placeholder="Enter a first name" required>
        </p>
        <p><label for="last_name">Last Name</label><br>
            <input name="last_name" value={{user.last_name}} placeholder="Enter a last name" required>
        </p>
        <p><label for="image_url">Image URL</label><br>
            <input name="image_url" value={{user.image_url}} placeholder="Provide an image of this user"
                accept="image/*">
        </p>
        <p>
            <button type="submit" class="addbtn">Save</button>
            <button type="reset" class="cancelBtn"><a href="/users/{{user.id}}">Cancel</a></button>

        </p>
    </form>
</div>
{% endblock %}