{% extends "layout.html" %}
{% block title %}User Details{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="form-contents">
    <section class="user-image">
        <img src="{{user.image_url}}" alt="{{user.first_name}}" width="300" height="300" srcset="">
    </section>
    <section class="user-info">
        <h1>{{user.first_name}} {{user.last_name}}</h1>
        <p>
            <button class="edit"><a href="/users/{{user.id}}/edit">Edit</a></button>
            <button class="delete"><a href="/users/{{user.id}}/delete">Delete</a></button>

        </p>
    </section>

</div>
{% endblock %}