{% extends "base.html" %}
{% block title %}New Feedback Form{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<main class="w-50 m-auto mt-5">
    <h1>Feedback</h1>
    <p>Provide your Feedback</p>
    <form action="" method="POST">
        <div class="mb-3">
            {{ form.hidden_tag() }}
            {% for field in form  if field.widget.input_type != "hidden" %}
            {{field.label (class_="form-label")}}
            {{field (class_="form-control mb-3 ")}}

            {% for error in field.errors %}
            <span class="help-block">{{error}}</span>
            {% endfor %}
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</main>

{% endblock %}